@{
  Layout = "_Layout";
}

@model BestRest.Models.Review

<h4>Add a new Review:</h4>

@using (Html.BeginForm())
{
    <h4>Enter A Title For A Review:</h4>
    @Html.LabelFor(model => model.Title)
    @Html.TextBoxFor(model => model.Title, 
    new {@required="required"})
    <h4>Enter A Name For A Review:</h4>
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, 
    new {@required="required"})
    <h4>What restaurant is this for?</h4>
    @Html.LabelFor(model => model.Restaurant)
    @Html.DropDownList("RestaurantId", null, "Please Select", htmlAttributes: new{required = "Please select a restaurant"})
    <h4>Write Your Review:</h4>
    @Html.LabelFor(model => model.Content)
    @Html.TextBoxFor(model => model.Content, 
    new {@required="required"})    
    <h4>How many Stars (1-5):</h4>
    @Html.LabelFor(model => model.Stars)
    @Html.TextBoxFor(model => model.Stars, 
    new {@required="required", @type = "number", @min = "1", @max = "5"})
    <input type="submit" value="Add Review" class="btn btn-info btn-sm"/>
}
<br>
<p>@Html.ActionLink("Show all Reviews", "Index", null, null, new { @class = "btn btn-info btn-sm" })</p>