@{
  Layout = "_Layout";
}

@model BestRest.Models.Review

<h2>Review Info</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>
<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
<h4>@Html.DisplayNameFor(model => model.Content): @Html.DisplayFor(model => model.Content)</h4>

<p>@Html.ActionLink("Back to review list", "Index")</p>
<p>@Html.ActionLink("Edit Review Info", "Edit", new { id = Model.ReviewId })</p>
<p>@Html.ActionLink("Delete Review", "Delete", new { id = Model.ReviewId })</p>