@{
  Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@model BestRest.Models.Review

<h2>Review Info</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>
<h4>By: @Html.DisplayFor(model => model.Name)</h4>
<h4>Review: @Html.DisplayFor(model => model.Content)</h4>

<h4>Star Rating:

@for (int i=1;i<=@Model.Stars;i++)
{
  <span class="fa fa-star checked"></span>
}
@for (int i=1;i<=5-@Model.Stars;i++)
{
  <span class="fa fa-star"></span>
}
</h4>

<br>
<p>@Html.ActionLink("Back to review list", "Index", null, null, new { @class = "btn btn-info btn-sm" })</p>
<p>@Html.ActionLink("Edit Review Info", "Edit", null, new { id = Model.ReviewId }, new { @class = "btn btn-info btn-sm"})</p>
<p>@Html.ActionLink("Delete Review", "Delete", null, new { id = Model.ReviewId }, new { @class = "btn btn-info btn-sm"})</p>