@{
  Layout = "_Layout";
}

@model BestRest.Models.Restaurant

<h4>Add a New Restaurant</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, 
    new {@required="required"})
    

    @Html.LabelFor(model => model.Category, "Cuisine")
    @Html.DropDownList("CategoryId")

    <input type="submit" value="Add new Restaurant" class="btn btn-info btn-sm" />
}
<br>
<p>@Html.ActionLink("Show all Restaurants", "Index", null, null, new { @class = "btn btn-info btn-sm" })</p>