@{
  Layout = "_Layout";
}

@model BestRest.Models.Restaurant

<h2>Restaurant Info</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<p>@Html.ActionLink("Back to restaurant list", "Index")</p>
<p>@Html.ActionLink("Edit Restaurant Info", "Edit", new { id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Delete Restaurant", "Delete", new { id = Model.RestaurantId })</p>
<p>@Html.ActionLink("Add Review", "Create", "Reviews")</p>
