@{
  Layout = "_Layout";
}

@using BestRest.Models;
@model BestRest.Models.Category;

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr />
<h3>Restaurants:</h3>

<ul>
@if (@Model.Restaurants.Count == 0)
{
  <p>no restaurants found</p>
}

@foreach (Restaurant restaurant in @Model.Restaurants)
{
  <li>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurants", new { id = restaurant.RestaurantId })</li>
  @* <li>Name: @restaurant.Name</li> *@
  
}
@* @foreach (Review review in @Model.Reviews)
{
  <li>@Html.ActionLink($"{review.Title}", "Details", "Reviews", new { id = review.ReviewId })</li>
} *@
</ul>

<p>@Html.ActionLink("Back to categories", "Index")</p>
<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId })</p>